footer {
  width: 100%;
  background-color: var(--color-azul-oscuro);
}
footer .footer-content {
  padding: 30px 0;
}
footer
  .footer-content
  .footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer
  .footer-content
  .footer-img
  img {
  width: 120px;
  height: 110px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}
footer
  .footer-content
  .footer-img
  img:hover {
  transform: scale(1.4);
}
footer
  .footer-content
  .linea-horizontal {
  display: block;
  border-top: 1px solid white;
  margin: 20px auto;
  width: 80%;
}
footer
  .footer-content
  .footer-titulo {
  font-size: 2.5rem;
  color: var(--color-blanco);
}
footer
  .footer-content
  .enlaces-web {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
footer
  .footer-content
  .enlaces-web
  a {
  color: var(--color-naranja);
}
footer
  .footer-content
  .enlaces-web
  a:hover {
  color: #fff;
}
footer
  .footer-content
  .redesblock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
footer
  .footer-content
  .redesblock
  .redes-sociales {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
footer
  .footer-content
  .redesblock
  .redes-sociales
  a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  fill: #fff;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.55s;
}
footer
  .footer-content
  .redesblock
  .redes-sociales
  a:hover {
  background-color: #fff;
  fill: #000;
}
footer
  .footer-content
  .redesblock
  .redes-sociales
  a
  svg {
  width: 30px;
}
footer
  .footer-content
  .redesblock
  .contactanos {
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 20px black;
  text-align: center;
  padding: 15px 0 0;
  overflow: hidden;
}
footer .derechos {
  background-color: var(--color-negro);
}
footer
  .derechos
  .derechos-texto {
  font-size: 1rem;
  color: var(--color-blanco);
}
