.header--inicio {
  background-color: #f8f9fa;
}
.header--inicio .avisos-importantes {
  background-color: var(--color-primario);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 5px 30px;
}
.header--inicio
  .avisos-importantes
  a {
  background-color: #fff;
  border-radius: 30px;
  padding: 3px 7px;
  transition: all 0.5s;
}
.header--inicio
  .avisos-importantes
  a
  svg {
  width: 17px;
  height: auto;
  fill: var(--color-primario);
  position: relative;
  bottom: 2px;
}
.header--inicio
  .avisos-importantes
  a:hover {
  fill: #fff;
  background-color: var(--color-naranja);
}
.header--inicio
  .avisos-importantes
  a:hover
  svg {
  fill: #fff;
}
.header--inicio .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.header--inicio
  .container
  a:nth-child(1) {
  animation-delay: 0.3s;
}
.header--inicio
  .container
  a:nth-child(2) {
  animation-delay: 0.8s;
}
.header--inicio
  .container
  a:nth-child(3) {
  animation-delay: 1.3s;
}
.header--inicio
  .container
  .col-lg-4 {
  background-color: #ffffffe6;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  width: 300px;
  transition: all 0.3s ease-in-out;
}
.header--inicio
  .container
  .col-lg-4:hover {
  transform: translateY(-10px);
  box-shadow: #000 0 0 20px -5px;
}
.header--inicio
  .container
  .col-lg-4
  .img-larges {
  object-fit: cover;
  width: 100%;
}
.header--inicio
  .container
  .col-lg-4
  h2 {
  color: #000;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header--inicio
  .container
  .col-lg-4
  .btn {
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--color-primario);
}
.header--inicio
  .container
  .col-lg-4
  p {
  color: var(--color-primario);
}
.header--inicio
  .container
  .col-lg-4
  .btn {
  background-color: var(--color-primario);
  color: #fff;
  border: 2px solid var(--color-primario);
  transition: all 0.3s ease-in-out;
}
.header--inicio
  .container
  .col-lg-4
  .btn:hover {
  background-color: #fff;
  border-color: var(--color-secundario);
  transform: translateY(-2px);
  box-shadow: 0 2px 4px #0003;
}
.header--inicio
  .container
  .item {
  width: 100%;
  box-shadow: 0 0 1px #00000024;
  cursor: pointer;
  padding: 10px 5px;
}
.header--inicio
  .container
  .item
  a {
  text-decoration: none;
}
.header--inicio
  .container
  .item:nth-child(1) {
  animation-delay: 0.4s;
}
.header--inicio
  .container
  .item:nth-child(2) {
  animation-delay: 0.7s;
}
.header--inicio
  .container
  .item:nth-child(3) {
  animation-delay: 1s;
}
.header--inicio
  .container
  .item:nth-child(4) {
  animation-delay: 1.3s;
}
.header--inicio
  .container
  .item:nth-child(5) {
  animation-delay: 1.6s;
}
@media (max-width: 992px) {
  .header--inicio
    .container
    .item {
    margin: 0;
  }
}
.header--inicio
  .container
  .img-beneficio {
  width: 30px;
  height: 30px;
}
.header--inicio
  .container
  .texto-corto {
  color: var(--color-primario);
  margin-top: 10px;
}
