@charset "UTF-8";
.contactanos-flotante {
  position: fixed;
  top: 90%;
  right: 4%;
  animation: bounce 3s 3s 5;
  transition: all 0.5s;
  z-index: 1;
}
.contactanos-flotante:hover {
  transform: scale(1.4);
}
.avisos-importantes {
  background-color: var(--color-primario);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 5px 30px;
}
.avisos-importantes a {
  background-color: #fff;
  border-radius: 30px;
  padding: 3px 7px;
  transition: all 0.5s;
  cursor: pointer;
}
.avisos-importantes
  a
  svg {
  width: 17px;
  height: auto;
  fill: var(--color-primario);
  position: relative;
  bottom: 2px;
}
.avisos-importantes a:hover {
  background-color: var(--color-naranja);
  fill: #fff;
}
.avisos-importantes
  a:hover
  svg {
  fill: #fff;
}
.menu-superior {
  background-color: var(--color-azul-oscuro);
  padding: 10px;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.menu-superior a {
  cursor: pointer;
  color: #fff;
}
.menu-superior ul {
  font-weight: 500;
}
.menu-superior
  ul
  .svg-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  animation: flipInX;
}
.menu-superior
  ul
  .svg-img-text
  .ruta-activa {
  color: var(--color-naranja);
}
.menu-superior
  ul
  .svg-img-text
  .ruta-activa
  .svg-image {
  fill: var(--color-naranja);
}
.menu-superior
  ul
  .svg-img-text
  a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-superior
  ul
  .svg-img-text
  a:hover {
  color: var(--color-naranja);
}
.menu-superior
  ul
  .svg-img-text
  a:hover
  .svg-image {
  fill: var(--color-naranja);
}
.menu-superior
  ul
  .svg-img-text
  a
  .ruta-activa {
  fill: var(--color-naranja);
  color: var(--color-naranja);
}
.menu-superior
  ul
  .svg-img-text
  a
  .svg-image {
  margin: 0 auto;
  fill: var(--color-blanco);
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-superior
    ul
    .svg-img-text
    a
    .svg-image {
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-superior
    ul
    .svg-img-text {
    font-size: 13px;
  }
}
.menu-superior
  ul
  .svg-img-text:nth-child(1) {
  animation-duration: 0.5s;
}
.menu-superior
  ul
  .svg-img-text:nth-child(2) {
  animation-duration: 1s;
}
.menu-superior
  ul
  .svg-img-text:nth-child(3) {
  animation-duration: 1.5s;
}
.menu-superior
  ul
  .svg-img-text:nth-child(4) {
  animation-duration: 2s;
}
.menu-superior
  ul
  .btn-saldo {
  animation: flipInX;
  animation-duration: 2.5s;
}
.menu-superior
  ul
  .btn-saldo
  .saldos {
  background-color: var(--color-primario);
  border: none;
  font-size: 13px;
  font-weight: 500;
}
.menu-superior
  ul
  .btn-saldo
  .saldos:hover {
  background-color: var(--color-naranja);
}
.menu-superior .menu-icon {
  cursor: pointer;
  animation: fadeIn;
  animation-duration: 1s;
}
.menu-superior .menu-desplegable {
  background-color: var(--color-azul-oscuro);
  position: absolute;
  width: 100%;
  top: 68px;
  right: 0;
  text-align: end;
  z-index: 2;
  padding: 15px;
}
.menu-superior
  .menu-desplegable
  .linea-horizontal {
  color: #fff;
}
.menu-superior
  .menu-desplegable
  li {
  list-style: none;
}
.menu-superior
  .menu-desplegable
  li
  a {
  color: #fff;
}
